{% macro _render_field(field) %}
  {% if field.type in ['CSRFTokenField', 'HiddenField'] %}
    {{ field() }}
  {% elif field.type in ['StringField', 'PasswordField'] %}
    <div class="control">
      {{ field.label(class='label') }}
      {{ field(
        class='input' ~ (' is-danger' if field.errors),
        placeholder=field.description
      ) }}
    </div>
  {% elif field.type in ['TextAreaField'] %}
    {{ field.label(class='label') }}
    {{ field(
      class='textarea' ~ (' is-danger' if field.errors),
      placeholder=field.description,
    ) }}
  {% elif field.type in ['BooleanField'] %}
    <div class="control">
      {{ field(class='checkbox') }}
      {{ field.label(
        class='checkbox',
        title=field.description,
      ) }}
    </div>
  {% elif field.type in ['SubmitField'] %}
    <div class="control">
      {{ field(
        class='button is-dark',
        title=field.description,
      ) }}
    </div>
  {% endif %}
  {% for error in field.errors %}
    <p class="help is-danger">
      {{ error }}
    </p>
  {% endfor %}
{% endmacro %}

{% macro render_form(form, action=request.url, method='POST') %}
  {% if form %}
  <form action="{{ action }}" method="{{ method }}">
  {% for field in form %}
    <div class="field">
      {{ _render_field(field) }}
    </div>
  {% endfor %}
  </form>
  {% endif %}
{% endmacro %}


{% macro render_page_form(form, action=request.url, method='POST') %}
<div class="columns is-mobile is-centered">
  <div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
  {{ render_form(form, action, method) }}
  </div>
</div>
{% endmacro %}
