{% from '_macros/elem.html' import text_icon %}

{% macro inner_navigation() %}
  {% macro _li(text, icon, endpoints) %}
  <li {%- if request.endpoint in endpoints %} class="is-active"{% endif %}>
    <a href="{{ url_for(endpoints|first) }}">
      {{ text_icon(icon) }}
      <span>{{ text }}</span>
    </a>
  </li>
  {% endmacro %}
  <div class="tabs is-centered is-boxed">
    <ul>
      {{ _li('Sensor', 'obj_sensor', ['mgnt.view_sensor']) }}
      {{ _li('Mapper', 'obj_mapper', ['mgnt.view_mapper', 'mgnt.index']) }}
      {{ _li('Prompt', 'obj_prompt', ['mgnt.view_prompt']) }}
    </ul>
  </div>
{% endmacro %}
