{% from '_macros/elems.html' import text_color %}
{% from '_macros/elems.html' import time_abs %}
{% from '_macros/elems.html' import time_rel %}
{% from '_macros/elems.html' import text_icon %}

{% macro create_button(endpoint) %}
<div class="content has-text-right">
  <a
    class="button is-dark"
    href="{{ url_for(endpoint, slug=None) }}"
  >
    {{ text_icon('ops_create') }}
    <span>Create new</span>
  </a>
</div>
{% endmacro %}


{% macro _common_info(thing, endpoint) %}
{% if thing %}
<div class="content">
  <div class="level">
    <div class="level-left">
      <div class="level-item has-text-left-tablet has-text-centered">
        <div>
          <div class="heading">Title</div>
          <div class="title is-3">{{ thing.title }}</div>
        </div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item has-text-right-tablet has-text-centered">
        <div>
          <div class="heading">Slug</div>
          <code class="subtitle is-3">
            <a title="Edit" href="{{
              url_for(endpoint, slug=thing.slug)
            }}" >
              {{ thing.slug }}
            </a>
          </code>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="media">
      <div class="media-content">
        {% if thing.description %}
        <div class="content">
          <p>
            <strong>Description</strong>
            <blockquote>{{ thing.description }}</blockquote>
          </p>
        </div>
        {% endif %}
        <div class="level">
          <div class="level-left">
            <div class="level-item has-text-centered">
              <strong>
                Created
              </strong>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item has-text-centered">
              {{ time_abs(thing.created_epoch_ms, thing.created_fmt) }}
            </div>
          </div>
        </div>
        {{ caller() }}
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endmacro %}


{% macro show_sensor(sensor) %}
{% call() _common_info(sensor, 'mgnt.edit_sensor') %}
{% with amount = sensor.length %}
<div class="level">
  <div class="level-left">
    <div class="level-item has-text-centered">
      <strong>
        Points
      </strong>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item has-text-centered">
      {{ amount }}
    </div>
  </div>
</div>
{% if amount %}
<div class="level">
  <div class="level-left">
    <div class="level-item has-text-centered">
      <strong>
        Latest
      </strong>
    </div>
  </div>
  <div class="level-right">
    <div class="level-item has-text-centered">
      {% if sensor.latest %}
      {{ time_rel(sensor.latest.created_epoch_ms, sensor.latest.created_fmt) }}
      {% endif %}
    </div>
  </div>
</div>
{% endif %}
{% endwith %}
{% endcall %}
{% endmacro %}

{% macro show_prompt(prompt) %}
{% call() _common_info(prompt, 'mgnt.edit_prompt') %}
{% endcall %}
{% endmacro %}

{% macro show_mapper(mapper) %}
{% if mapper %}
<div class="content">
  <div class="level">
    <div class="level-left">
      <div class="level-item has-text-left-tablet has-text-centered">
        <div>
          <div class="heading">Prompt</div>
          <code class="subtitle is-3">
            <a title="Edit" href="{{
              url_for(
                'mgnt.edit_mapper',
                prompt_slug=mapper.prompt.slug,
                sensor_slug=mapper.sensor.slug,
              )
            }}">
              {{ mapper.prompt.slug }}
            </a>
          </code>
        </div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item has-text-right-tablet has-text-centered">
        <div>
          <div class="heading">Sensor</div>
          <code class="subtitle is-3">
            <a title="Edit" href="{{
              url_for(
                'mgnt.edit_mapper',
                prompt_slug=mapper.prompt.slug,
                sensor_slug=mapper.sensor.slug,
              )
            }}">
              {{ mapper.sensor.slug }}
            </a>
          </code>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="media">
      <div class="media-content">
        <div class="level">
          <div class="level-left">
            <div class="level-item has-text-centered">
              <strong>
                Created
              </strong>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item has-text-centered">
              {{ time_abs(mapper.created_epoch_ms, mapper.created_fmt) }}
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-left">
            <div class="level-item has-text-centered">
              <strong>
                Active
              </strong>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item has-text-centered">
              {{ 'Yes' if mapper.active else 'No' }}
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-left">
            <div class="level-item has-text-centered">
              <strong>
                Color
              </strong>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item has-text-centered">
              {{ text_color(mapper.color.name, mapper.color.color) }}
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-left">
            <div class="level-item has-text-centered">
              <strong>
                Convert
              </strong>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item has-text-centered">
              {{ mapper.convert.name }}
            </div>
          </div>
        </div>
        <div class="level">
          <div class="level-left">
            <div class="level-item has-text-centered">
              <strong>
                Horizon
              </strong>
            </div>
          </div>
          <div class="level-right">
            <div class="level-item has-text-centered">
              {{ mapper.horizon.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endmacro %}
