{% from '_macros/elem.html' import bool_icon %}
{% from '_macros/elem.html' import code_color %}
{% from '_macros/elem.html' import merge %}
{% from '_macros/elem.html' import text_code %}
{% from '_macros/elem.html' import text_color %}
{% from '_macros/elem.html' import text_icon %}
{% from '_macros/elem.html' import time_abs %}
{% from '_macros/elem.html' import time_rel %}
{% from '_macros/form.html' import render_form %}
{% from '_macros/level.html' import key_val_level %}
{% from '_macros/level.html' import single_level %}
{% from '_macros/level.html' import split_level %}
{% from 'mgnt/_macros/level.html' import head_level %}


{% macro _mapper_info(mapping) %}
{% if mapping %}
<div class="content">
{% for mapper in mapping %}
<div class="box">
  {{ single_level((
    merge((
      text_icon('obj_prompt'),
      code_color(mapper.prompt.slug, mapper.color.color),
    )),
    text_icon('obj_mapper'),
    merge((
      text_icon('obj_sensor'),
      code_color(mapper.sensor.slug, mapper.color.color)
    )),
  )) }}
  {{ single_level((
    text_code(mapper.horizon.name),
    bool_icon(mapper.active),
    text_code(mapper.convert.name),
  )) }}
</div>
{% endfor %}
</div>
{% endif %}
{% endmacro %}

{% macro _common_info(thing, edit_ep, drop_ep, sort_ep, sort_form_fn) %}
{% if thing %}
{{ head_level(
  'Title', thing.title,
  'Slug', thing.slug,
  url_for(edit_ep, slug=thing.slug),
) }}
<div class="content">
  {% if thing.description %}
  <p>
    <blockquote class="has-text-centered-mobile">
    {{ thing.description }}
    </blockquote>
  </p>
  {% endif %}
  {{ key_val_level(
    'Created',
    time_abs(thing.created_epoch_ms, thing.created_fmt),
  ) }}
  {{ key_val_level(
    'Active',
    bool_icon(thing.active),
  ) }}
  {{ caller() }}
</div>
{{ _mapper_info(thing.mapping) }}
{{ split_level(
  render_form(
    sort_form_fn(thing, lift=true),
    action=url_for(
      sort_ep,
      slug=thing.slug,
      direction='raise',
      _external=true,
    ),
  ),
  render_form(
    sort_form_fn(thing, lift=false),
    action=url_for(
      sort_ep,
      slug=thing.slug,
      direction='lower',
      _external=true,
    ),
  ),
) }}
{{ split_level(
  render_form(
    form_drop_prompt(thing),
    action=url_for(drop_ep, slug=thing.slug, _external=true),
  ),
  none,
) }}
{% endif %}
{% endmacro %}


{% macro show_sensor(sensor) %}
{% call() _common_info(
  sensor, 'mgnt.edit_sensor', 'mgnt.drop_sensor',
  'mgnt.sort_sensor', form_sort_sensor,
) %}
{{ key_val_level(
  'Points',
  sensor.length,
) }}
{% if sensor.latest %}
{{ key_val_level(
  'Latest',
  time_rel(sensor.latest.created_epoch_ms, sensor.latest.created_fmt),
) }}
{% endif %}
{% endcall %}
{% endmacro %}

{% macro show_prompt(prompt) %}
{% call() _common_info(
  prompt, 'mgnt.edit_prompt', 'mgnt.drop_prompt',
  'mgnt.sort_prompt', form_sort_prompt,
) %}
{% endcall %}
{% endmacro %}

{% macro show_mapper(mapper) %}
{% if mapper %}
{{ head_level(
  'Prompt', mapper.prompt.slug,
  'Sensor', mapper.sensor.slug,
  url_for(
    'mgnt.edit_mapper',
    prompt_slug=mapper.prompt.slug,
    sensor_slug=mapper.sensor.slug,
  ),
  both_code=true,
) }}
<div class="content">
  {{ key_val_level(
    'Created',
    time_abs(mapper.created_epoch_ms, mapper.created_fmt),
  ) }}
  {{ key_val_level(
    'Active',
    bool_icon(mapper.active),
  ) }}
  {{ key_val_level(
    'Color',
    code_color(mapper.color.name, mapper.color.color),
  ) }}
  {{ key_val_level(
    'Convert',
    text_code(mapper.convert.name),
  ) }}
  {{ key_val_level(
    'Horizon',
    text_code(mapper.horizon.name),
  ) }}
</div>
{{ split_level(
  render_form(
    form_sort_mapper(mapper, lift=true),
    action=url_for(
      'mgnt.sort_mapper',
      prompt_slug=mapper.prompt.slug,
      sensor_slug=mapper.sensor.slug,
      direction='raise',
      _external=true,
    ),
  ),
  render_form(
    form_sort_mapper(mapper, lift=false),
    action=url_for(
      'mgnt.sort_mapper',
      prompt_slug=mapper.prompt.slug,
      sensor_slug=mapper.sensor.slug,
      direction='lower',
      _external=true,
    ),
  ),
) }}
{{ split_level(
  render_form(
    form_drop_mapper(mapper),
    action=url_for(
      'mgnt.drop_mapper',
      prompt_slug=mapper.prompt.slug,
      sensor_slug=mapper.sensor.slug,
      _external=true,
    ),
  ),
  none,
) }}
{% endif %}
{% endmacro %}
