{% from '_macros/elem.html' import bool_icon %}
{% from '_macros/elem.html' import text_color %}
{% from '_macros/elem.html' import time_abs %}
{% from '_macros/elem.html' import time_rel %}
{% from 'mgnt/_macros/level.html' import head_level %}
{% from 'mgnt/_macros/level.html' import key_val_level %}


{% macro _common_info(thing, endpoint) %}
{% if thing %}
{{ head_level(
  'Title', thing.title,
  'Slug', thing.slug,
  url_for(endpoint, slug=thing.slug),
) }}
<div class="content">
  {% if thing.description %}
  <p>
    <strong>Description</strong>
    <blockquote>{{ thing.description }}</blockquote>
  </p>
  {% endif %}
  {{ key_val_level(
    'Created',
    time_abs(thing.created_epoch_ms, thing.created_fmt),
  ) }}
  {{ caller() }}
</div>
{% endif %}
{% endmacro %}


{% macro show_sensor(sensor) %}
{% call() _common_info(sensor, 'mgnt.edit_sensor') %}
{{ key_val_level(
  'Points',
  sensor.length,
) }}
{% if sensor.latest %}
{{ key_val_level(
  'Latest',
  time_rel(sensor.latest.created_epoch_ms, sensor.latest.created_fmt),
) }}
{% endif %}
{% endcall %}
{% endmacro %}

{% macro show_prompt(prompt) %}
{% call() _common_info(prompt, 'mgnt.edit_prompt') %}
{% endcall %}
{% endmacro %}

{% macro show_mapper(mapper) %}
{% if mapper %}
{{ head_level(
  'Prompt', mapper.prompt.slug,
  'Sensor', mapper.sensor.slug,
  url_for(
    'mgnt.edit_mapper',
    prompt_slug=mapper.prompt.slug,
    sensor_slug=mapper.sensor.slug,
  ),
  both_code=true,
) }}
<div class="content">
  {{ key_val_level(
    'Created',
    time_abs(mapper.created_epoch_ms, mapper.created_fmt),
  ) }}
  {{ key_val_level(
    'Active',
    bool_icon(mapper.active),
  ) }}
  {{ key_val_level(
    'Color',
    text_color(mapper.color.name, mapper.color.color),
  ) }}
  {{ key_val_level(
    'Convert',
    mapper.convert.name,
  ) }}
  {{ key_val_level(
    'Horizon',
    mapper.horizon.name,
  ) }}
</div>
{% endif %}
{% endmacro %}
