{% extends '_base.html' %}
{% from '_macros/elem.html' import text_icon %}
{% from '_macros/level.html' import split_level %}

{% macro _heading(text, main=false) %}
<h3 class="{{ 'title' if main else 'subtitle' }}">{{ text }}</h3>
{% endmacro %}



{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-two-thirds">
        {{ _heading(title, main=true) }}
      </div>
      <div class="column is-one-third">
        {{ _heading('Raw Content') }}
        <div class="content">
          <pre><code>{{ space_api.content|tojson(indent=2) }}</code></pre>
      </div>
    </div>
  </div>
</section>
{% endblock %}
