{% from '_macros/elem.html' import text_icon %}

<footer class="footer">
  <div class="container">
    <div class="level">
      <div class="level-left">
        <div class="level-item">
          <p class="subtitle is-5">
            <strong>{{ config.TITLE }}</strong>
          </p>
        </div>
        <div class="level-item">
          <p>
            <small>{{ tagline() }}</small>
          </p>
        </div>
      </div>
      {% if current_user.is_authenticated %}
      <div class="level-right">
        <div class="level-item">
          <p class="subtitle is-5">
            {{ text_icon('user_basic', 'small') }}
            <strong>{{ current_user.username }}</strong>
          </p>
        </div>
        <div class="level-item">
          <p>
            <a
              class="button is-small is-dark is-outlined"
              href="{{ url_for('user.logout') }}"
            >
              {{ text_icon('user_leave') }}
              <span>Logout</span>
            </a>
          </p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</footer>
