<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h1 class="title">
            <a class="title is-3" href="{{ url_for('main.index') }}">
              {{ config.TITLE }}
            </a>
          </h1>
          <h2 class="subtitle">
            <a class="subtitle is-4" href="{{ request.url }}">
              {{ title }}
            </a>
          </h2>
        </div>
      </div>
    </div>
  </div>
</section>

{% with flashed = get_flashed_messages(with_categories=true) %}
  {% if flashed %}
  <section class="section">
    <div class="container">
    {% for category, message in flashed %}
      <div class="notification{{ ' is-' ~ category|lower if category|lower in (
        'info', 'success', 'warning', 'danger', 'dark', 'black', 'light', 'primary',
      ) }}">
        <button class="delete click"></button>
        {{ message }}
      </div>
    {% endfor %}
    </div>
  </section>
  {% endif %}
{% endwith %}
