{% from '_macros/elem.html' import text_code %}
{% from '_macros/elem.html' import text_icon %}
{% from '_macros/level.html' import key_val_level %}
{% from '_macros/level.html' import split_level %}

{% macro _common_dropdown_level(thing, large=true) %}
<div class="level">
  <div class="level-left">
    <div class="level-item has-text-left-tablet has-text-centered">
      {% if large %}<h3 class="title is-3">{% else %}<div class="title is-5">{% endif %}
      {{ thing.title }}
      {% if large %}</h3>{% else %}</div>{% endif %}
    </div>
  </div>
  {% if thing.description %}
  <div class="level-right">
    <div class="level-item has-text-right-tablet has-text-centered">
      <div class="dropdown is-right">
        <div class="dropdown-trigger">{{ text_icon('glob_descr') }}</div>
        <div class="dropdown-menu" role="menu">
          <div class="dropdown-content has-text-left">
            <div class="dropdown-item">
              {{ text_code(thing.slug) }}
            </div>
            <hr class="dropdown-divider">
            <div class="dropdown-item">
              <blockquote>{{ thing.description }}</blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endmacro %}


{% macro render_graph(prompt) %}
{% if prompt and prompt.active %}
<div class="content plot" data-slug="{{ prompt.slug }}">
  {{ _common_dropdown_level(prompt, large=true) }}

  <div class="content">
    <canvas aria-label="{{ prompt.title }}" role="img"></canvas>
    <progress class="progress is-small is-dark" value="" max="100"></progress>

    <div class="field control-buttons has-addons has-addons-centered is-hidden">
      <div class="control graph-init">
        <button class="button is-small is-dark is-outlined">
          {{ text_icon('graph_init') }}
          <span>Reset</span>
        </button>
      </div>
      <div class="control graph-zoom">
        <button class="button is-small is-dark is-outlined">
          {{ text_icon('graph_zoom') }}
          <span>Zoom &amp; Pan</span>
        </button>
      </div>
    </div>
  </div>

  <template>
  {% macro _s(cls) %}<span class="{{ cls }}"></span>{% endmacro %}
  {% macro _p(name) %}{{ _s('plain-' ~ name) }}{% endmacro %}

  <div class="column">
    <div class="box">
      {{ _common_dropdown_level(dict(
        slug=_p('slug'),
        title=_p('title'),
        description=_p('description'),
      ), large=false) }}
      {{ key_val_level('Points', _p('points')) }}
      {{ key_val_level('Latest', _s('moment-value')) }}
      {{ key_val_level('Value', text_code(_p('value'), cls='color-value')) }}
      {{ split_level(
        text_code(_p('horizon')),
        text_code(_p('convert')),
      ) }}
    </div>
  </div>
  </template>
  <div class="columns bucket is-hidden"></div>
</div>
{% endif %}
{% endmacro %}
