{% from '_macros/elem.html' import time_rel %}
{% from '_macros/elem.html' import text_icon %}
{% from '_macros/elem.html' import text_code %}
{% from '_macros/level.html' import key_val_level %}
{% from '_macros/page.html' import nothing_there %}

{% macro _common_dropdown_level(thing, large=true) %}
<div class="level">
  <div class="level-left">
    <div class="level-item has-text-left-tablet has-text-centered">
      {% if large %}<h3 class="title is-3">{% else %}<div class="title is-5">{% endif %}
      {{ thing.title }}
      {% if large %}</h3>{% else %}</div>{% endif %}
    </div>
  </div>
  {% if thing.description %}
  <div class="level-right">
    <div class="level-item has-text-right-tablet has-text-centered">
      <div class="dropdown is-right">
        <div class="dropdown-trigger">{{ text_icon('glob_descr') }}</div>
        <div class="dropdown-menu" role="menu">
          <div class="dropdown-content has-text-left">
            <div class="dropdown-item">
              {{ text_code(thing.slug) }}
            </div>
            <hr class="dropdown-divider">
            <div class="dropdown-item">
              <blockquote>{{ thing.description }}</blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endmacro %}


{% macro render_graph(prompt) %}
{% if prompt and prompt.active %}
<div class="content">
  {{ _common_dropdown_level(prompt, large=true) }}

  <div class="content plot" data-slug="{{ prompt.slug }}">
    <canvas aria-label="{{ prompt.title }}" role="img"></canvas>
    <progress class="progress is-small is-dark" value="" max="100"></progress>
  </div>
  <div class="columns">
  {% for mapper in prompt.mapping_active %}
  {% with sensor = mapper.sensor %}
  {% if mapper.active and sensor %}
  <div class="column">
    <div class="box">
      {{ _common_dropdown_level(sensor, large=false) }}
      {{ key_val_level('Points', sensor.length) }}
      {% with latest, value = (
        time_rel(sensor.latest.created_epoch_ms, sensor.latest.created_fmt),
        sensor.latest.convert(mapper.horizon, mapper.convert)
      ) if sensor.latest else (
        '&mdash;'|safe, '&mdash;'|safe
      ) %}
      {{ key_val_level('Latest', latest) }}
      {{ key_val_level('Value', value) }}
      {% endwith %}
    </div>
  </div>
  {% endif %}
  {% endwith %}
  {% endfor %}
  </div>
</div>
{% endif %}
{% endmacro %}
