@charset "utf-8";

@import "~source-sans-pro/source-sans-pro";
@import "~source-code-pro/source-code-pro";

@import "~bulma/sass/utilities/initial-variables";

$family-sans-serif: "Source Sans Pro", sans-serif;
$family-monospace: "Source Code Pro", monospace;

$code: $grey-darker;

$footer-padding: 3rem 1.5rem;

@import "~bulma/bulma";

@import "~remixicon/fonts/remixicon";
