<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column">
        <p>
          <strong>{{ config.TITLE }}</strong>
        </p>
        <p>
          <small>{{ tagline() }}</small>
        </p>
      </div>
    </div>
    {% if current_user.is_authenticated %}
    <div class="columns">
      <div class="column">
        <p>
          <a href="{{ url_for('user.logout') }}">
            Logout {{ current_user.username }}
          </a>
        </p>
      </div>
    </div>
    {% endif %}
  </div>
</footer>
