<footer class="footer">
  <div class="container has-text-centered">
    <div class="columns">
      <div class="column is-8-desktop is-offset-2-desktop">
        <p>
          <strong>{{ config.TITLE }}</strong>
        </p>
        <p>
          <small>{{ tagline() }}</small>
        </p>
        {% if current_user.is_authenticated %}
        <p>
          <a href="{{ url_for('user.logout') }}">
            Logout {{ current_user.username }}
          </a>
        </p>
        {% endif %}
      </div>
    </div>
  </div>
</footer>
