{% macro _momentize(value, fallback, variant) %}
<span class="moment {{ variant }}" data-value="{{ value }}">
  {{ fallback }}
</span>
{% endmacro %}

{% macro time_abs(value, fallback) %}
{{ _momentize(value, fallback, 'absolute') }}
{% endmacro %}
{% macro time_rel(value, fallback) %}
{{ _momentize(value, fallback, 'relative') }}
{% endmacro %}


{% macro text_color(text, value) %}
<span style="background-color: {{ value }}; color: #ffffff;">{{ text }}</span>
{% endmacro %}


{% macro text_icon(name, size=none, scls=none) %}
{% with bcls, rcls = dict(
  small=('is-small', 'ri-xs'),
  medium=('is-medium', 'ri-lg'),
  large=('is-large', 'ri-2x'),
).get(size, (none, none)) %}
{% with icon = config.ICON[name]|default(config.ICON.__fallback) %}
<span class="icon{{ ' ' ~ bcls if bcls }}{{ ' ' ~ scls if scls }}">
  <i class="ri-{{ icon }}-line{{ ' ' ~ rcls if rcls }}" aria-hidden="true"></i>
</span>
{% endwith %}
{% endwith %}
{% endmacro %}
