{% from '_macros/elem.html' import text_icon %}

{% macro _render_field(field) %}
  {% macro _errors() %}
  {% for error in field.errors %}
    <p class="help is-danger">{{ error }}</p>
  {% endfor %}
  {% endmacro %}
{% if field.type in ['CSRFTokenField', 'HiddenField'] %}
  {{ field(class='is-hidden') }}
  {{ _errors() }}
{% else %}
<div class="field">
  {% if field.type in ['StringField', 'PasswordField'] %}
    <div class="control">
      {{ field.label(class='label', title=field.description) }}
      {{ field(
        class='input' ~ (' is-danger' if field.errors),
        placeholder=field.description,
      ) }}
    </div>
  {% elif field.type in ['TextAreaField'] %}
    <div class="control">
      {{ field.label(class='label', title=field.description) }}
      {{ field(
        class='textarea' ~ (' is-danger' if field.errors),
        placeholder=field.description,
      ) }}
    </div>
  {% elif field.type in ['DecimalField'] %}
    <div class="control">
      {{ field.label(class='label', title=field.description) }}
      {{ field(
        class='input' ~ (' is-danger' if field.errors),
        type='number',
        step=(1 / (10 ** field.places))|string,
        placeholder=field.description,
      ) }}
    </div>
  {% elif field.type in ['BooleanField'] %}
    <div class="control">
      {{ field(class='checkbox', title=field.description) }}
      {{ field.label(class='checkbox', title=field.description) }}
    </div>
  {% elif field.type in ['SelectField'] %}
    <div class="control">
      {{ field.label(class='label', title=field.description) }}
      <div class="select is-fullwidth{{ ' is-danger' if field.errors }}">
        {{ field(class='select') }}
      </div>
    </div>
  {% elif field.type in ['SubmitField'] %}
    <div class="control">
      {{ field(
        class='button is-dark',
        title=field.description,
      ) }}
    </div>
  {% endif %}
  {{ _errors() }}
</div>
{% endif %}
{% endmacro %}


{% macro render_form(form, action=request.url, method='POST') %}
{% if form %}
<form action="{{ action }}" method="{{ method }}">
{% for field in form %}
  {{ _render_field(field) }}
{% endfor %}
</form>
{% endif %}
{% endmacro %}


{% macro render_page_form(form, action=request.url, method='POST') %}
{% if form %}
<div class="columns is-mobile is-centered">
  <div class="column is-three-quarters-mobile is-two-thirds-tablet is-half-desktop is-one-third-widescreen is-one-quarter-fullhd">
  {{ render_form(form, action=action, method=method) }}
  </div>
</div>
{% endif %}
{% endmacro %}


{% macro link_button(text, icon, href) %}
<div class="field">
  <div class="control">
    <a class="button is-small is-dark" href="{{ href }}">
      {{ text_icon(icon) }}<span>{{ text }}</span>
    </a>
  </div>
</div>
<div>{# compensate for the csrf input field #}</div>
{% endmacro %}
