{% extends '_base.html' %}
{% from 'mgnt/_macros/level.html' import link_head_title %}
{% from 'mgnt/_macros/level.html' import linking_level %}
{% from 'mgnt/_macros/nav.html' import inner_navigation %}
{% from 'mgnt/_macros/show.html' import create_button %}

{% macro _level(title, amount, endpoint) %}
<div class="content">
  {{ linking_level(
    'Type',
    link_head_title(title, url_for(endpoint, slug=None), sub=false),
    'Amount',
    link_head_title(amount, url_for(endpoint, slug=None), sub=true),
  ) }}
</div>
{% endmacro %}

{% block content %}
<section class="section">
  <div class="container">
    {{ inner_navigation() }}
    <h3 class="title">Overview</h3>
    {{ _level('Sensor', sensors, 'mgnt.view_sensor') }}
    {{ create_button('mgnt.edit_sensor') }}
    {{ _level('Mapper', mapping, 'mgnt.view_mapper') }}
    {{ create_button('mgnt.edit_mapper') }}
    {{ _level('Prompt', prompts, 'mgnt.view_prompt') }}
    {{ create_button('mgnt.edit_prompt') }}
  </div>
</section>
{% endblock %}
