{% extends '_base.html' %}
{% from '_macros/elem.html' import text_icon %}
{% from '_macros/level.html' import split_level %}
{% from '_macros/page.html' import nothing_there %}
{% from 'mgnt/_macros/show.html' import create_button %}
{% from 'mgnt/_macros/show.html' import show_mapper %}
{% from 'mgnt/_macros/show.html' import show_prompt %}
{% from 'mgnt/_macros/show.html' import show_sensor %}


{% macro _display(heading, function, things) %}
<h3 class="title">{{ heading }}</h3>
{% if not things %}
{{ nothing_there() }}
{% else %}
{% for thing in things %}
  {{ function(thing) }}
  {% if not loop.last %}<hr>{% endif %}
{% endfor %}
{% endif %}
{% endmacro %}

{% macro _inner_navigation() %}
  {% macro _nav_li(text, icon, endpoints) %}
  <li {%- if request.endpoint in endpoints %} class="is-active"{% endif %}>
    <a href="{{ url_for(endpoints|first) }}">
      {{ text_icon(icon) }}
      <span>{{ text }}</span>
    </a>
  </li>
  {% endmacro %}
<div class="tabs is-centered is-boxed">
  <ul>
    {{ _nav_li('Prompt', 'obj_prompt', ['mgnt.view_prompt']) }}
    {{ _nav_li('Mapper', 'obj_mapper', ['mgnt.view_mapper', 'mgnt.index']) }}
    {{ _nav_li('Sensor', 'obj_sensor', ['mgnt.view_sensor']) }}
  </ul>
</div>
{% endmacro %}

{% macro _create_button(name, endpoint) %}
<div class="content has-text-right">
  <a class="button is-dark" href="{{ url_for(endpoint, slug=none) }}">
    {{ text_icon('ops_create') }}
    <span>New {{ name }}</span>
  </a>
</div>
{% endmacro %}


{% block content %}
<section class="section">
  <div class="container">
    {{ _inner_navigation() }}
    {% if prompts is defined %}
      {{ _display('Prompt', show_prompt, prompts) }}
      {{ split_level(none, _create_button('prompt', 'mgnt.edit_prompt')) }}
    {% endif %}
    {% if mapping is defined %}
      {{ _display('Mapper', show_mapper, mapping) }}
      {{ split_level(none, _create_button('mapper', 'mgnt.edit_mapper')) }}
    {% endif %}
    {% if sensors is defined %}
      {{ _display('Sensor', show_sensor, sensors) }}
      {{ split_level(none, _create_button('sensor', 'mgnt.edit_sensor')) }}
    {% endif %}
  </div>
</section>
{% endblock %}
