{% extends '_base.html' %}
{% from 'mgnt/_macros/show.html' import create_button %}

{% macro _level(title, amount, endpoint) %}
<div class="content">
  <div class="level">
    <div class="level-left">
      <div class="level-item has-text-left-tablet has-text-centered">
        <div>
          <div class="heading">Type</div>
          <a
            href="{{ url_for(endpoint, slug=None) }}"
            class="title is-3"
          >
            {{ title }}
          </a>
        </div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item has-text-right-tablet has-text-centered">
        <div>
          <div class="heading">Amount</div>
          <a
            href="{{ url_for(endpoint, slug=None) }}"
            class="subtitle is-3"
          >
            {{ amount }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% block content %}
<section class="section">
  <div class="container">
    <h3 class="title">Overview</h3>
    {{ _level('Prompts', prompts, 'mgnt.view_prompt') }}
    {{ create_button('mgnt.edit_prompt') }}
    {{ _level('Sensors', sensors, 'mgnt.view_sensor') }}
    {{ create_button('mgnt.edit_sensor') }}
    {{ _level('Mapping', mapping, 'mgnt.view_mapper') }}
    {{ create_button('mgnt.edit_mapper') }}
  </div>
</section>
{% endblock %}
