{% extends '_base.html' %}
{% from 'mgnt/_macros/show.html' import create_button %}
{% from 'mgnt/_macros/show.html' import show_common %}
{% from 'mgnt/_macros/show.html' import show_mapper %}
{% from 'mgnt/_macros/show.html' import show_sensor %}


{% macro _show(heading, function, things, endpoint) %}
<h3 class="title">{{ heading }}</h3>
{% for thing in things %}
  {{ function(thing, endpoint) }}
{% endfor %}
{{ create_button(endpoint) }}
{% endmacro %}


{% block content %}
<section class="section">
  <div class="container">
    {% if mapping is defined %}
      {{ _show('Mapping', show_mapper, mapping, 'mgnt.edit_mapper') }}
    {% endif %}
    {% if prompts is defined %}
      {{ _show('Prompts', show_common, prompts, 'mgnt.edit_prompt') }}
    {% endif %}
    {% if sensors is defined %}
      {{ _show('Sensors', show_sensor, sensors, 'mgnt.edit_sensor') }}
    {% endif %}
  </div>
</section>
{% endblock %}
